.logo{
	text-align: center;
	display: block;
}

.top_nav{
	float: right;
}

img{
	height: 92px;
	width: 272px;
	padding-top: 109px;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	font-family: arial, sans-serif;
}