div{
  background-color: brown;
}

.logo{
  text-align: center;
  display: block;
}

.top_nav{
  float: right;
  list-style-type: none;
}

#icon{
  background-image: url("images/icons.png");
}

.class{
  background-position: -132px -39px;
  position: absolute;
}

img{
  height: 92px;
  width: 272px;
  padding-top: 109px;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-left: 10px;
  font-family: arial, sans-serif;
}