div{
  background-color: brown;
}

.logo{
  text-align: center;
  display: block;
}

.top_nav{
  float: right;
  margin: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  vertical-align: middle;
  list-style-type: none;
}

.icons{
  background-image: url("images/icons.png");
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}

.apps{
  background-position: -132px -32px;
}

img{
  height: 92px;
  width: 272px;
  padding-top: 109px;
  display: block;
  margin: 0 auto;
}

.center{
  display: block;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-left: 10px;
  font-family: arial, sans-serif;
}

a, a:link{
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover, a:active{
  color: green;
  text-decoration: underline;
}