body {
  margin: 0;
}

div{
  background-color: brown;
  font-family: arial, sans-serif;
  top: 0;
}

.logo{
  display: block;
  margin-top: 89px;
  text-align: center;
  clear: both;
}

.top_nav {
  float: right;
  border: 0px;
  margin: 20px 0px 20px 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  opacity: .75;
  list-style-type: none;
}

.icons{
  background-image: url("images/icons.png");
  display: inline-block;
  box-sizing: border-box;
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
}

.apps {
  background-position: -132px -38px;
  opacity: .55;
}

.apps:hover {
  opacity: 1;
}

.sign_in {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  padding: 7px 12px 7px 12px;
  color: white;
  text-align: center;
  font-weight: bold;
}

img {
  height: 92px;
  width: 272px;
  padding-top: 109px;
  display: block;
  margin: 0 auto;
}

.center{
  display: block;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-left: 10px;
  font-family: arial, sans-serif;
  vertical-align: middle;
}

a, a:link{
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover, a:active{
  color: black;
  text-decoration: underline;
}