html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

div{
  background-color: white;
  font-family: arial, sans-serif;
}

.full {
  position: relative;
  min-height: 100%;
}

.header {
  height: 100%;
}

.content {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #e4e4e4;
  background-color: #f2f2f2;
}

.logo{
  display: block;
  margin-top: 89px;
  margin-bottom: 35px;
  text-align: center;
  clear: both;
}

.top_nav {
  float: right;
  border: 0px;
  margin: 16px 0px 20px 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  opacity: .75;
  list-style-type: none;
}

.icons{
  background-image: url("images/icons.png");
  display: inline-block;
  box-sizing: border-box;
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
}

.apps {
  background-position: -132px -38px;
  opacity: .75;
}

.apps:hover {
  opacity: 1;
}

.sign_in {
  background-color: #095DE8;
  border: 1px solid #4285f4;
  padding: 7px 12px 7px 12px;
  border-radius: 5%;
  color: white;
  text-align: center;
  font-weight: bold;
}

.google {
  height: 92px;
  width: 272px;
  padding-top: 110px;
  display: block;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: inline;
}

li {
  display: inline-block;
  margin-left: 10px;
  font-family: arial, sans-serif;
  vertical-align: middle;
}

a, a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover, a:active {
  color: black;
  text-decoration: underline;
}

.searchbar {
  display: block;
  position: relative;
  width: 586px;
  height: 40px;
  margin: 0 auto;
  border: none;
  clear: both;
}

.speaker {
  width: 17px;
  height: 23px;
  margin: 0 8px;
  padding: 8.5px 0;
  cursor: pointer;
  float: right;
}

.voice {
  height:100%; 
  position: relative;
  z-index: 100;
}

.search {
  position: absolute;
  border: none;
  top: 50%;
  transform: translate(0, -50%);
}

.buttons {
  margin-top: 20px;
  height: 50px;
  text-align: center;
  font-size: 0;
}

input[type="text"]{
  width:526px; 
  height:26px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px 52px 6px 8px;
  font-size: 16px;
}

input[type="text"]:hover {
  border: 1px solid #c6c6c6;
}

input[type="text"]:focus {
  z-index: -1;
}

input[type="submit"] {
  padding: 10px 16px;
  border: 1px solid #f5f5f5;
  border-radius: 2%;
  margin: 11px 4px;
  font-size: 13px;
  font-weight: bold;
  background: linear-gradient(#f5f5f5,#f1f1f1);
  color: grey;
}

input[type="submit"]:hover {
  border: 1px solid #c6c6c6;
  color: black;
}

input[type="submit"]:focus {
  border: none;
  color: black;
}

.footerlistleft {
  line-height: 38px;
  font-size: small;
  padding: 0;
  margin-left: 3px;
}

.footerlistleft li {
  margin: 0;
  padding-left: 27px;
}

.footerlistleft li a {
  color: #666;
}

.right {
  float: right;
  margin: 0;
  padding-right: 30px;
}

